@font-face {
    font-family: 'op-caska';
    src: url('/Assets/Fonts/Operator-caska-Italic.ttf');
    /* font-weight: normal;
    font-style: normal; */
}
@font-face {
    font-family: 'jetbrains';
    src: url('/Assets/Fonts/JetBrainsMonoNerdFontMono-Regular.ttf');
    /* font-weight: normal;
    font-style: normal; */
}

html {
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #191724, #c4a7e7, #3e8fb0, #ea9d34);
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: jetbrains, Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: aliceblue;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.tile {
    width: 100%;
    height: 56px;
    background-color: rgb(37,37,37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07 , 1.41 , .82 , 1.41 );
    transform: scale(1.02);
    font-family: op-caska, Verdana, Geneva, Tahoma, sans-serif;

}

.image-container {
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}

.icon img {
    width: 44px;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

.tile-share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
    
}
